<div class="row background">
  <div class="offset-sm-4 col-sm-4">
    <div class="card text-blank">
      <div class="card-body">
        <div class="card-title text-center">
          <h5>Login Using Your Email</h5>
        </div>
        <div class="card-text">

          <form [formControl]="myForm" (ngSubmit)="onsubmit(myForm)">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="enter your email" name="email"
                [formControl]="myForm.controls['email']">
            </div>
            <div class="alert alert-danger"
              *ngIf="(!myForm.controls['email'].valid) && myForm.controls['email'].touched"> a valid email is
              required
            </div>

            <div class="form-group">
              <input type="password" class="form-control" placeholder="enter your password" name="passwprd"
                [formControl]="myForm.controls['password']">
            </div>
            <div class="alert alert-danger"
              *ngIf="(!myForm.controls['password'].valid) && myForm.controls['password'].touched"> password is required
            </div>

            <div class="text-center">
              <button class="btn btn-warning round btn btn-block" type="submit"
                [disabled]="!myForm.valid">SUBMIT</button>
            </div>


          </form>
          <div class="text-center mt3">
            <button class="btn btn-link" routerLink="/home">Dont have an account ?Create One</button>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-success" *ngIf="message.length>0">
      {{ message }}
    </div>
    <div class="alert alert-danger" *ngIf="userError">
      {{ userError.message }}
    </div>
  </div>
</div>
