<div class="card text-blank mt-3">
  <div class="card-body">
    <div class="card-title">
      <h2>{{ postData.title }}</h2>
    </div>
    <div class="card-text">
      {{ postData.content.substring(0,50) }}...<a class="card-link" routerLink="/veiw/{{post.id}}">Read more</a>
    </div>
  </div>
  <div class="card-footer text-muted">
    posted on {{ postData.created.toDate() | date: "MMM dd,YYYY" }}
    <button class="btn btn-danger card-link btn-sm float-right" type="submit" *ngIf="user && user.uid == postData.owner"
      (click)="delete()">
      Delete
    </button>
  </div>
  <a class="card-footer text-muted" *ngIf="(user && postData.owner != user.uid) || !user">Veiw writers profile</a>
</div>
