<app-signup></app-signup>

<div class="row">
  <div class="col-sm-6 text-right pt-5">
    <img src="assets/robo.png" height="400px" />
  </div>
  <div class="col-sm-4">
    <h2 class="mx-5 my-5">WHAT IS SCRIBE?</h2>
    <h6>
      Scribe is thought sharing Platform where <br />
      you can share your thoughts and craziest <br />
      ideas with the World. You can also Interact <br />
      with other user by commenting on their posts. <br /><br />Create a free
      account and get started <br />
      <br />
      Let get started !!
    </h6>
  </div>
</div>
<hr />
<div class="row">
  <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
    <h5>Contact Us</h5>

    <div class="row rows">
      <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5 ">
        <i class="fa fa-phone mt-3"></i> 1234567890
        <br />
        <i class="fa fa-envelope mt-3"></i> vivekGR123@gmail.com
        <br />
        <i class="fa fa-facebook mt-3"></i> VIKING BLOGS
        <br />
      </div>

      <div class="col-sm-6 text-left py-5 my-5 px-5">
        <i class="fa fa-map-marker mt-3"></i> College Enthusiast Pvt. Ltd.<br />
        <i class="fa fa-map-marker mt-1 invisible"></i> B-809, Unitech Business
        Zone,<br />
        <i class="fa fa-map-marker mt-1 invisible"></i> Nirvana Country, South
        City 2,<br />
        <i class="fa fa-map-marker mt-1 invisible"></i> Aurangabad, India -
        122018<br />
      </div>
    </div>
  </div>
</div>
{{name + }}
<!-- <div class="container">
  <h1>MY SIMPLE INTREST CALCULTOR</h1>
  <div class="row">
    <div class="offset-sm-2 col-sm-8">
      <div class="form-row">
        <div class="col-sm-6">
          <input type="number" class="form-control" placeholder="enter principle ammount" name="ammount"
            [(ngModel)]="ammount">
        </div>
        <div class="col-sm-6">
          <input type="number" class="form-control" placeholder="enter rate" name="rate" [(ngModel)]="rate">
        </div>
        <div class="col-sm-6">
          <input type="number" class="form-control" placeholder="enter months" name="months" [(ngModel)]="months">
        </div>
      </div><br><br>
      <button class="btn btn-warning round btn btn-block" (click)="adds()">Simple Intrest</button><br><br>
      <h3>your simple intrest:</h3> <input type="text" class="form-control" placeholder="SI" name="SI"
        [(ngModel)]="SI"><br><br>
      <h2> Total Ammount: {{(SI + ammount) | currency:'INR'}}</h2>
    </div>



  </div>
</div> -->
